<div class="pt-5">
    <div class="textos pt-3" style align="center"><br><br><br>
         <h1>Consultorio médico </h1>
         <h1>+Salud</h1><br><br>
         <h3>Agende su cita médica desde cualquier sitio y a cualquier hora</h3></div>
         
         <img class="imagendoctor" src="assets/img/consultorio.png" alt="">
     </div>

         <div class="btn-group">
         <a href="registro" class="button">Registrarse</a>
         <a href="consultapaciente" class="button">Ingresar</a>
            
     </div>
      

<!--onda-->
<div class="wave">
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
         style="height: 100%; width: 100%;"><path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
         style="stroke: none; fill: #fff;"></path></svg>
    </div>
</div>

<div class="titulo">
         <h2>Nuestros especialistas</h2>
</div><br>

<div class="container">
<div class="card">
         <img src="assets/img/LuisaC.jpg">
         <br><h1> <b>Dra. Karen Mantilla </b> </h1><br>
         <p>Medicina general<br><br> 
</div>

<div class="card">
         <img src="assets/img/LuisS.jpg">
         <h1> <b>Dr. Luis Sarmiento </b> </h1><br>
         <p>Cardiología<br>
</div>

<div class="card">
         <img src="assets/img/Karen.jpg">
         <h1> <b>Dra. Luisa Covelli </b> </h1><br>
         <p>Ginecología<br>
</div>
</div>

