<br>
<div align="center"><img src="assets/img/+saludweb.png">
</div>  <br> <br> 

<div class="ingresar">
<p>Estimado paciente, si Usted ya está registrado puede ingresar al sistema sólo 
con el número de su cédula</p><br><br></div>

<div class="ingresar1">
    <div class="identificacion">
         Tipo de documento<span class="req">* </span>   
        <select id="inputState" name="tipodoc_formulario" display="inline-block">
        <option value=1 selected>CC-Cédula de ciudadanía</option>
        <option value=2 >CE-Cédula de extranjería</option>
        <option value=3 >PEP-Permiso especial de permanencia</option>
        <option value=4>TI-Tarjeta de identidad</option>
        <option value=5>RC-Registro civil de nacimiento</option>                 
        <option value=6>PSP-Pasaporte</option></select>    
        
        Número<span class="req">* </span>
        <input type="value"  name="numero" maxlength="10" ><br><br> 
    </div>
</div><br>

<div class="btn-group">
    <a href="consultapaciente" class="button">Ingresar</a>
</div>